body {
    background-color: black;
    text-align: center;
}

.links {
    display: inline;
    color: rgb(228, 28, 28);
    padding: 10px;
    font-family: Noto Sans Mono;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    border-style: double;
    border-color: white;
    border-width: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

/*/.links:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(228, 28, 28);
}/*/

#next_button {
    color: rgb(228, 28, 28);
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Noto Sans Mono;
    font-size: 20px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: -250px;
}


#p_img {
    color: rgb(228, 28, 28);
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    font-family: Noto Sans Mono;
    font-size: 20px;
    width: fit-content;
    font-weight: bold;
    margin-right: 900px;
    margin-bottom: -250px;
}

#img_home {
    border-style: double;
    border-color: white;
    border-width: 5px;
}

.label{
    color: white;
}

.links a{
    text-decoration:none;
    text-decoration-style:inherit;
    color: inherit;
}


.links a:hover{
    text-decoration-style: none;
}